<a href="https://colab.research.google.com/github/OTN-Rajapaksha/Machine-Learning-Project-Laptop-Price-Predictor/blob/main/Laptop_Price_Predictor_%E2%80%93_Machine_Learning_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Project Description:**

The Laptop Price Predictor is a supervised machine learning project designed to estimate the market price of laptops based on their specifications. With the rapid evolution of hardware and numerous models on the market, this project aims to simplify the buying and selling process by providing accurate price predictions based on key features.

In [3]:
#Laptop Price Prediction


!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [4]:
import pandas as pd
import numpy as np

In [12]:
#Load Data Set

data = pd.read_csv("/content/laptop_prices.csv", encoding='latin-1')

In [13]:
#Display Data
data

,Company,Product,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,ScreenW,...,RetinaDisplay,CPU_company,CPU_freq,CPU_model,PrimaryStorage,SecondaryStorage,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model
0,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1339.69,Standard,2560,...,Yes,Intel,2.3,Core i5,128,0,SSD,No,Intel,Iris Plus Graphics 640
1,Apple,Macbook Air,Ultrabook,13.3,8,macOS,1.34,898.94,Standard,1440,...,No,Intel,1.8,Core i5,128,0,Flash Storage,No,Intel,HD Graphics 6000
2,HP,250 G6,Notebook,15.6,8,No OS,1.86,575.00,Full HD,1920,...,No,Intel,2.5,Core i5 7200U,256,0,SSD,No,Intel,HD Graphics 620
3,Apple,MacBook Pro,Ultrabook,15.4,16,macOS,1.83,2537.45,Standard,2880,...,Yes,Intel,2.7,Core i7,512,0,SSD,No,AMD,Radeon Pro 455
4,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1803.60,Standard,2560,...,Yes,Intel,3.1,Core i5,256,0,SSD,No,Intel,Iris Plus Graphics 650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,4,Windows 10,1.80,638.00,Full HD,1920,...,No,Intel,2.5,Core i7 6500U,128,0,SSD,No,Intel,HD Graphics 520
1271,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,16,Windows 10,1.30,1499.00,Quad HD+,3200,...,No,Intel,2.5,Core i7 6500U,512,0,SSD,No,Intel,HD Graphics 520
1272,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,2,Windows 10,1.50,229.00,Standard,1366,...,No,Intel,1.6,Celeron Dual Core N3050,64,0,Flash Storage,No,Intel,HD Graphics
1273,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,6,Windows 10,2.19,764.00,Standard,1366,...,No,Intel,2.5,Core i7 6500U,1024,0,HDD,No,AMD,Radeon R5 M330
1274,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,4,Windows 10,2.20,369.00,Standard,1366,...,No,Intel,1.6,Celeron Dual Core N3050,500,0,HDD,No,Intel,HD Graphics

In [16]:
#Row and Coloums

data.shape

(1275, 23)

In [17]:
#None Values

data.isnull().sum()

Company                 0
Product                 0
TypeName                0
Inches                  0
Ram                     0
OS                      0
Weight                  0
Price_euros             0
Screen                  0
ScreenW                 0
ScreenH                 0
Touchscreen             0
IPSpanel                0
RetinaDisplay           0
CPU_company             0
CPU_freq                0
CPU_model               0
PrimaryStorage          0
SecondaryStorage        0
PrimaryStorageType      0
SecondaryStorageType    0
GPU_company             0
GPU_model               0
dtype: int64

In [19]:
#data Details

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275 entries, 0 to 1274
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company               1275 non-null   object
 1   Product               1275 non-null   object
 2   TypeName              1275 non-null   object
 3   Inches                1275 non-null   float64
 4   Ram                   1275 non-null   int64
 5   OS                    1275 non-null   object
 6   Weight                1275 non-null   float64
 7   Price_euros           1275 non-null   float64
 8   Screen                1275 non-null   object
 9   ScreenW               1275 non-null   int64
 10  ScreenH               1275 non-null   int64
 11  Touchscreen           1275 non-null   object
 12  IPSpanel              1275 non-null   object
 13  RetinaDisplay         1275 non-null   object
 14  CPU_company           1275 non-null   object
 15  CPU_freq              1275 non-null   float64
 16  CPU_model             1275 non-null   object
 17  PrimaryStorage        1275 non-null   int64
 18  SecondaryStorage      1275 non-null   int64
 19  PrimaryStorageType    1275 non-null   object
 20  SecondaryStorageType  1275 non-null   object
 21  GPU_company           1275 non-null   object
 22  GPU_model             1275 non-null   object
dtypes: float64(4), int64(5), object(14)
memory usage: 229.2+ KB

In [21]:
data.head(2)

,Company,Product,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,ScreenW,...,RetinaDisplay,CPU_company,CPU_freq,CPU_model,PrimaryStorage,SecondaryStorage,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model
0,Apple,MacBook Pro,Ultrabook,13.3,8,macOS,1.37,1339.69,Standard,2560,...,Yes,Intel,2.3,Core i5,128,0,SSD,No,Intel,Iris Plus Graphics 640
1,Apple,Macbook Air,Ultrabook,13.3,8,macOS,1.34,898.94,Standard,1440,...,No,Intel,1.8,Core i5,128,0,Flash Storage,No,Intel,HD Graphics 6000

In [24]:
# Select only numeric columns
numeric_data = data.select_dtypes(include=np.number)

# Calculate correlation with 'Price_euros' for numeric columns
correlation_with_price = numeric_data.corr()['Price_euros']

# Display the correlation
print(correlation_with_price)

Inches              0.066608
Ram                 0.740287
Weight              0.211883
Price_euros         1.000000
ScreenW             0.552491
ScreenH             0.548529
CPU_freq            0.428847
PrimaryStorage     -0.124775
SecondaryStorage    0.291207
Name: Price_euros, dtype: float64

In [26]:
data['Company'].value_counts()

Company
Dell         291
Lenovo       289
HP           268
Asus         152
Acer         101
MSI           54
Toshiba       48
Apple         21
Samsung        9
Mediacom       7
Razer          7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Fujitsu        3
Google         3
LG             3
Huawei         2
Name: count, dtype: int64

In [27]:
len(data['Company'].value_counts())# onehot encoding

19

In [28]:
def add_company(input):
  if input == 'Samsung' or input == 'Razer' or input == 'Mediacom' or input == 'Microsoft'or input == 'Vero'or input == 'Chuwi'or input == 'Google'or input == 'Fujitsu'or input == 'LG'or input == 'Huawei':
    return 'Other'
  else:
    return input

In [30]:
data['Company'].value_counts()

Company
Dell       291
Lenovo     289
HP         268
Asus       152
Acer       101
MSI         54
Toshiba     48
Other       47
Apple       21
Xiaomi       4
Name: count, dtype: int64

In [33]:
len(data['Product'].value_counts())

618

In [34]:
data['Product'].value_counts()

Product
XPS 13                                   30
Inspiron 3567                            25
250 G6                                   21
Vostro 3568                              19
Legion Y520-15IKBN                       19
                                         ..
X541NA-GO020T (N3350/4GB/1TB/W10)         1
ThinkPad L460                             1
V510-15IKB (i5-7200U/8GB/256GB/FHD/No     1
Rog GL502VS                               1
Rog GL553VE-FY052T                        1
Name: count, Length: 618, dtype: int64

In [35]:
data['TypeName'].value_counts()

TypeName
Notebook              707
Gaming                205
Ultrabook             194
2 in 1 Convertible    117
Workstation            29
Netbook                23
Name: count, dtype: int64

In [37]:
data['CPU_model'].value_counts()

CPU_model
Core i5 7200U     193
Core i7 7700HQ    147
Core i7 7500U     133
Core i3 6006U      81
Core i7 8550U      73
                 ...
Core M 6Y54         1
Cortex A72&A53      1
E-Series 9000       1
Core M 6Y30         1
A9-Series 9410      1
Name: count, Length: 93, dtype: int64

In [38]:
def set_processor(input):
  if input == 'Intel Core i7' or input == 'Intel Core i5' or input == 'Intel Core i3'or input == 'AMD':
    return input
  else:
    return 'Other'

In [40]:
data['CPU_model'].value_counts()

CPU_model
Core i5 7200U     193
Core i7 7700HQ    147
Core i7 7500U     133
Core i3 6006U      81
Core i7 8550U      73
                 ...
Core M 6Y54         1
Cortex A72&A53      1
E-Series 9000       1
Core M 6Y30         1
A9-Series 9410      1
Name: count, Length: 93, dtype: int64

In [46]:
def set_processor(input):
  if input == 'Intel Core i7' or input == 'Intel Core i5' or input == 'Intel Core i3'or input == 'AMD':
    return input
  else:
    return 'Other'

data['CPU_name'] = data['CPU_model'].apply(set_processor)

In [47]:
data['CPU_name'].value_counts()

CPU_name
Other    1275
Name: count, dtype: int64

In [48]:
data['CPU_model'].value_counts()

CPU_model
Core i5 7200U     193
Core i7 7700HQ    147
Core i7 7500U     133
Core i3 6006U      81
Core i7 8550U      73
                 ...
Core M 6Y54         1
Cortex A72&A53      1
E-Series 9000       1
Core M 6Y30         1
A9-Series 9410      1
Name: count, Length: 93, dtype: int64

In [49]:
len(data['CPU_model'].value_counts())

93

In [50]:
data['GPU_model'].value_counts()

GPU_model
HD Graphics 620     279
HD Graphics 520     181
UHD Graphics 620     68
GeForce GTX 1050     66
GeForce GTX 1060     48
                   ...
Quadro M500M          1
Radeon R7 M360        1
Quadro M3000M         1
GeForce 960M          1
Mali T860 MP4         1
Name: count, Length: 110, dtype: int64

In [51]:
len(data['GPU_model'].value_counts())

110

In [54]:
data['GPU_company'].value_counts()

GPU_company
Intel     704
Nvidia    396
AMD       174
ARM         1
Name: count, dtype: int64

In [55]:
len(data['GPU_company'].value_counts())

4

In [56]:
data.shape

(1275, 24)

In [58]:
data = data[data['GPU_company'] !='ARM']

In [59]:
data.shape

(1274, 24)

In [60]:
#None Values

data.isnull().sum()

Company                 0
Product                 0
TypeName                0
Inches                  0
Ram                     0
OS                      0
Weight                  0
Price_euros             0
Screen                  0
ScreenW                 0
ScreenH                 0
Touchscreen             0
IPSpanel                0
RetinaDisplay           0
CPU_company             0
CPU_freq                0
CPU_model               0
PrimaryStorage          0
SecondaryStorage        0
PrimaryStorageType      0
SecondaryStorageType    0
GPU_company             0
GPU_model               0
CPU_name                0
dtype: int64

In [61]:
data['OS'].value_counts()

OS
Windows 10      1048
No OS             66
Linux             58
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [64]:
def set_os(input):
  if input == 'Windows 10' or input == 'Windows 7' or input == 'Windows 10s':
    return 'Windows'
  elif input == 'macOS' or input == 'Mac OS X':
    return 'Mac'
  elif input == 'Linux':
    return 'Linux'
  else:
    return 'Other'

data['OS'] = data['OS'].apply(set_os)

In [65]:
data['OS'].value_counts()

OS
Windows 10      1048
No OS             66
Linux             58
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [66]:
data['OS'].value_counts()

OS
Windows 10      1048
No OS             66
Linux             58
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [72]:
def set_os(input):
  if input == 'Windows 10' or input == 'Windows 7' or input == 'Windows 10s':
    return 'Windows'
  elif input == 'macOS' or input == 'Mac OS X':
    return 'Mac'
  elif input == 'Linux':
    return 'Linux'
  else:
    return 'Other'

data['OS'] = data['OS'].apply(set_os)

/tmp/ipython-input-72-158806847.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['OS'] = data['OS'].apply(set_os)

In [73]:
data['OS'].value_counts()

OS
Windows    1093
Other       102
Linux        58
Mac          21
Name: count, dtype: int64

In [74]:
data.head()

,Company,Product,TypeName,Inches,Ram,OS,Weight,Price_euros,Screen,ScreenW,...,CPU_company,CPU_freq,CPU_model,PrimaryStorage,SecondaryStorage,PrimaryStorageType,SecondaryStorageType,GPU_company,GPU_model,CPU_name
0,Apple,MacBook Pro,Ultrabook,13.3,8,Mac,1.37,1339.69,Standard,2560,...,Intel,2.3,Core i5,128,0,SSD,No,Intel,Iris Plus Graphics 640,Other
1,Apple,Macbook Air,Ultrabook,13.3,8,Mac,1.34,898.94,Standard,1440,...,Intel,1.8,Core i5,128,0,Flash Storage,No,Intel,HD Graphics 6000,Other
2,HP,250 G6,Notebook,15.6,8,Other,1.86,575.00,Full HD,1920,...,Intel,2.5,Core i5 7200U,256,0,SSD,No,Intel,HD Graphics 620,Other
3,Apple,MacBook Pro,Ultrabook,15.4,16,Mac,1.83,2537.45,Standard,2880,...,Intel,2.7,Core i7,512,0,SSD,No,AMD,Radeon Pro 455,Other
4,Apple,MacBook Pro,Ultrabook,13.3,8,Mac,1.37,1803.60,Standard,2560,...,Intel,3.1,Core i5,256,0,SSD,No,Intel,Iris Plus Graphics 650,Other

In [80]:
data.drop(columns=['Product','ScreenW','CPU_freq','SecondaryStorage','SecondaryStorageType','GPU_model','TypeName','Weight','RetinaDisplay','IPSpanel','ScreenH'
])

,Company,Inches,Ram,OS,Price_euros,Screen,Touchscreen,CPU_company,CPU_model,PrimaryStorage,PrimaryStorageType,GPU_company,CPU_name
0,Apple,13.3,8,Mac,1339.69,Standard,No,Intel,Core i5,128,SSD,Intel,Other
1,Apple,13.3,8,Mac,898.94,Standard,No,Intel,Core i5,128,Flash Storage,Intel,Other
2,HP,15.6,8,Other,575.00,Full HD,No,Intel,Core i5 7200U,256,SSD,Intel,Other
3,Apple,15.4,16,Mac,2537.45,Standard,No,Intel,Core i7,512,SSD,AMD,Other
4,Apple,13.3,8,Mac,1803.60,Standard,No,Intel,Core i5,256,SSD,Intel,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Lenovo,14.0,4,Windows,638.00,Full HD,Yes,Intel,Core i7 6500U,128,SSD,Intel,Other
1271,Lenovo,13.3,16,Windows,1499.00,Quad HD+,Yes,Intel,Core i7 6500U,512,SSD,Intel,Other
1272,Lenovo,14.0,2,Windows,229.00,Standard,No,Intel,Celeron Dual Core N3050,64,Flash Storage,Intel,Other
1273,HP,15.6,6,Windows,764.00,Standard,No,Intel,Core i7 6500U,1024,HDD,AMD,Other
1274,Asus,15.6,4,Windows,369.00,Standard,No,Intel,Celeron Dual Core N3050,500,HDD,Intel,Other